<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.Comem.HorairesCOMEM"
    android:versionCode="1"
    android:versionName="0.1 Beta"
    android:installLocation="internalOnly" >
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/HoWiBaseTheme">
        
        <!-- Une balise receiver permet d'indiquer un récepteur de diffusion
        qui s'exécutera à chaque fois qu'une intention correspondante sera
        diffusée par le système ou une application.
        Permet aussi de spécifier au système que cette app est un widget -->
        <receiver
            android:name="ch.Comem.HoraireWidgetProvider"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>
        
        <!-- Ceci va juste au dessus, si besoin -->
        <!--             <intent-filter> -->
<!--                 <action android:name="ch.Comem.HorairesCOMEM.FORCE_WIDGET_UPDATE" /> -->
<!--             </intent-filter> -->
        
        
        <!-- Déclaration de l'activité de configuration du widget -->
        <activity android:name="ch.Comem.Configuration" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        

        <!-- Le service qui fournit les nouveaux horaires à intervalles réguliers -->
        <service android:name="ch.Comem.HoraireWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false" />
        
    </application>

</manifest>
